<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/madlib">
        <label>Please enter a name: 
            <input type="text" name="person-name">
        </label>
        <br>
        Please choose a color:
        <select name="color">
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="red">Red</option>
        </select>
        <br>
        <label>Please choose a noun:
            <input type="radio" name="noun" value="woman">Woman
            <input type="radio" name="noun" value="banana">Banana
            <input type="radio" name="noun" value="new-york">New York
            <input type="radio" name="noun" value="phone">Phone
        </label>
        <br>
        <label>Please choose an adjective:
            <input type="checkbox" name="adjective" value="nice">Nice
            <input type="checkbox" name="adjective" value="beautiful">Beautiful
            <input type="checkbox" name="adjective" value="lovely">Lovely
            <input type="checkbox" name="adjective" value="appreciative">Appreciative
        </label>
        <br>
        <input type="submit">
    </form>

</body>
</html>